
*.Rmd
anac-2020.html
.Rproj.user
.RData
.Rhistory
.Rproj.user/407F5AE9/sources/prop/48456C5F
.Rproj.user/407F5AE9/sources/s-FBAD4D96/CE0C0190
.Rproj.user/407F5AE9/sources/s-FBAD4D96/CE0C0190-contents
.Rproj.user/407F5AE9/sources/s-FBAD4D96/D9B25AA5
.Rproj.user/407F5AE9/sources/s-FBAD4D96/D9B25AA5-contents
.Rproj.user/407F5AE9/sources/s-FBAD4D96/E7304050-contents
.Rproj.user/407F5AE9/sources/s-FBAD4D96/lock_file
